header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.header-title{
  font-size: 1.6rem;
  cursor: pointer;
}

.header-menu i{
  font-size: 1.6rem;
}

.menu_hidden{
  list-style: none;
  display: none;
}

.menu_hidden li{
  padding: .6rem;
}

.menu_hidden li:hover{
  cursor: pointer;
  background-color: darkgray;
  border-radius: 20px;
}
