.section_content{
  padding: 1rem;
  margin-bottom: 1rem;
}

.main_title{
  font-size: 3rem;
  text-align: left;
}

.variety_shoes-title{
  margin: 2rem 0;
  font-size: 2rem;
}

.cards_shoes{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 32px;
}

.our-service h1{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
