<app-header></app-header>

<section class="section_content">
  <p class="main_title">Pise com estilo, caminhe com conforto!</p>
</section>

<section class="section_content">
  <app-card-home></app-card-home>
</section>

<hr style="background-color: #676767;">
<section class="section_content">
  <app-menu-mid></app-menu-mid>
</section>
<hr style="background-color: #676767;">

<section class="section_content">
  <h1 class="variety_shoes-title">Explore uma diversidade de calçados com as últimas tendências deste ano.</h1>
  <div class="cards_shoes">
    <app-card-variety
      type="Estilo Masculino"
      image="assets/images/menstyle.jpg"
      description="tênis masculino"
    ></app-card-variety>
    <app-card-variety
      type="estilo feminino"
      image="assets/images/homanstyle.jpg"
      description="tênis feminino"
    ></app-card-variety>
  </div>
  <app-card-variety
      type="Novas tendências 2023"
      image="assets/images/trending.jpg"
      description="tênis novas tendências"
    ></app-card-variety>
</section>

<section class="section_content our-service">
  <h1>Nossos serviços</h1>
  <app-card-our-service
    title="Prêmios de Presente"
    text="Programa Passos Premiados: Caminhe para Conquistar! Explore nossa seleção de sapatos e ganhe pontos a cada compra. Troque seus pontos por descontos exclusivos, ofertas especiais e presentes irresistíveis. Sua jornada de estilo agora vem com recompensas inigualáveis. Calce a moda, acumule vantagens!"
  ></app-card-our-service>
  <hr>
  <app-card-our-service
    title="Doar"
    text="Ganhe um sapato grátis para aqueles que já assinam nossa oferta há muito tempo. Para cada compra de produto, registraremos seu nome e celular."
  ></app-card-our-service>
  <hr>
  <app-card-our-service
    title="Embalagem"
    text="Nós sempre fornecemos a melhor segurança do pacote de envio para você, para que as mercadorias não sejam facilmente danificadas. Sempre usamos plástico bolha para cobrir."
  ></app-card-our-service>
  <hr>
  <app-card-our-service
    title="Transferência Gratuita"
    text="Para os clientes que comprarem nossos produtos, não solicitaremos nenhum custo de compra."
  ></app-card-our-service>
</section>

<section class="section_content best_selling">
  <app-card-best-selling></app-card-best-selling>
</section>

<section class="section_content stock_now">
  <h1>Estoque</h1>
  <div class="stock_shoes">
    <app-price-shoes
      image="assets/images/sho1.png"
      name="Mini shows"
      price="36.63"
    ></app-price-shoes>
    <app-price-shoes
      image="assets/images/sho2.png"
      name="asics asc"
      price="89.63"
    ></app-price-shoes>
    <app-price-shoes
      image="assets/images/sho3.png"
      name="on air"
      price="59.90"
    ></app-price-shoes>
  </div>
</section>

<section class="footer_content">
  <hr>
  <app-about></app-about>
</section>

<section class="footer_content">
  <app-footer></app-footer>
</section>
