@media screen and (min-width: 300px){
  .main_title{
    font-size: 4rem;
  }
}

@media screen and (min-width: 1200px){
  .main_title{
    font-size: 8rem;
  }

  .variety_shoes-title{
    font-size: 4rem;
  }

  .cards_shoes{
    grid-template-columns: 1fr 1fr;
  }

  .our-service h1{
    font-size: 4rem;
  }

  .best_selling{
    background-image: url(/assets/images/best-selling.jpg);
    background-size: 100% auto;
    background-position-x: center;
    background-position-y: top;
  }
}
