@media screen and (min-width: 1200px){
  .card-home_description{
    flex-direction: row;
  }

  .card-home_description_text{

    display: flex;
    flex-direction: row;
    margin-right: 25px;
  }

  .card-home_description_text h1{
    margin-right: 15px;
  }
}
