<div class="card-home_content">
  <div class="card-home_description">
    <div class="card-home_description_text">
      <h1>TÊNIS TIPO DC12</h1>
      <p>A Super Shoes apresentou recentemente sua mais recente coleção de calçados, agora disponível em duas elegantes opções de cores: branco e cinza. Essa coleção marca um marco significativo para a Super Shoes, pois representa o lançamento dos seus primeiros calçados em 2023.</p>
    </div>
    <div class="card-home_description_size">
      <p>Tamanho Disponível</p>
      <ul>
        <li>38</li>
        <li>39</li>
        <li>40</li>
        <li>41</li>
        <li>42</li>
        <li>43</li>
      </ul>
    </div>
  </div>
  <div class="card-home_image">
    <div class="card-home_image-content"></div>
  </div>
</div>
