<div class="car-home_content">
  <div class="car-home_description">
    <div class="car-home_description_text">
      <h1>SNEAKERS TYPE DC12</h1>
      <p>super shoes released its neewst shoes with 2 colors, namely white and, gray with this super shoes releasing the first shoes in 20223</p>
    </div>
    <div class="car-home_description_size">
      <p>Size Available</p>
      <ul>
        <li>38</li>
        <li>39</li>
        <li>40</li>
        <li>41</li>
        <li>42</li>
        <li>43</li>
      </ul>
    </div>
  </div>
  <div class="car-home_image">
    <div class="car-home_image-content"></div>
  </div>
</div>
