@media screen and (min-width: 730px){
  .card-home_description{
    flex-direction: row;
  }

  .card-home_description_text{

    display: flex;
    flex-direction: row;
    margin-right: 25px;
  }

  .card-home_description_text h1{
    margin-right: 15px;
  }

  .card-home_description_size ul li{
    border: 1px solid #676767;
    border-radius: 5px;
    padding: 5px;
    margin-right: 16px;
  }
}
