.card-home_content{
  margin-bottom: 1rem;
}

.card-home_description{
  display: flex;
  flex-direction: column;
}

.card-home_description_text{
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.card-home_description_text h1{
  margin-bottom: 1rem;
}

.card-home_description_text p{
  margin-bottom: 1rem;
}

.card-home_description_size{
  margin-bottom: 1rem;
}

.card-home_description_size p{
  margin-bottom: 1rem;
}

.card-home_description_size ul{
  list-style: none;
  display: flex;
}

.card-home_description_size ul li{
  border: 1px solid #676767;
  border-radius: 5px;
  padding: 5px;
  margin-right: 16px;
}

.card-home_image{
  height: calc(60vh - 84px);
  max-width: 100vw;
  background-image: url("/assets/images/shows.jpg");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  text-align: center;
}

.card-home_image-content{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.349);
}
