<div class="about_content">
  <div class="about_left">
    <p>Number 3891 Estado da Estiloville, Brasil<br>
      12345-678, Bairro da Moda, Cidade das Tendências
    </p>
    <div class="about_contact">
      <ul>
        <li>Email Address</li>
        <li>tetemail.com</li>
      </ul>
      <ul>
        <li>phone Number</li>
        <li>(99) 111-1576</li>
      </ul>
    </div>
  </div>
  <div class="about_right">
    <ul>
      <li>Ajuda</li>
      <li>Administrador</li>
      <li>Bate-papo online</li>
      <li>Ligue</li>
    </ul>
  </div>
</div>
