<div class="about_content">
  <div class="about_left">
    <p>Number 3891 Ranchview Dr. RIchardson, California<br>
      62637, Amerka Serkat Country
    </p>
    <div class="about_contact">
      <ul>
        <li>Email Address</li>
        <li>tetemail.com</li>
      </ul>
      <ul>
        <li>phone Number</li>
        <li>(99) 111-1576</li>
      </ul>
    </div>
  </div>
  <div class="about_right">
    <ul>
      <li>Help</li>
      <li>Admin</li>
      <li>Online Chat</li>
      <li>Call Online</li>
    </ul>
  </div>
</div>
